{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}
{% block body %}
  <div class="container d-flex justify-content-center my-3">
    <div>
      <h3>{% translate "Sign In" %}</h3>
      <form method="post" class="mt-3">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% render_text_input form.login %}
        {% render_text_input form.password %}
        <input class="btn btn-primary w-100" type="submit" value="{% translate "Sign In" %}">
        <p class="text-center mt-2">{% translate "or" %}</p>
        {% include 'account/components/social/login_with_google_button.html' %}
        <p class="text-center mt-2">{% translate "or" %}</p>
        {% include 'account/components/social/login_with_twitter_button.html' %}
        <hr>
        <a class="muted-link" href="{% url 'account_reset_password' %}">
          {% translate "Forgot password?" %}
        </a>
      </form>
    </div>
  </div>
{% endblock %}
