{% load i18n %}
<aside>
  <div class="mb-1">
    {% translate "Application" %}
  </div>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a href="{% url 'web:home' %}" class="nav-link {% if active_tab == 'dashboard' %}active{% endif %}">
        <span class="pg-icon"><i class="fa fa-home"></i></span><span>{% translate "Dashboard" %}</span>
      </a>
    </li>
    {% include "web/components/team_nav.html" %}
  </ul>
  <div class="mt-3 mb-1">
    {% translate "My Account" %}
  </div>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a href="{% url 'users:user_profile' %}" class="nav-link {% if active_tab == 'profile' %}active{% endif %}">
        <span class="pg-icon"><i class="fa fa-user"></i></span><span>{% translate "Profile" %}</span>
      </a>
    </li>
    {% if user.has_usable_password %}
      <li class="nav-item">
        <a href="{% url 'account_change_password' %}" class="nav-link {% if 'accounts/password/change' in request.path %}active{% endif %}">
          <span class="pg-icon"><i class="fa fa-unlock-alt"></i></span><span>{% translate "Change Password" %}</span>
        </a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a href="{% url 'account_logout' %}"
         class="nav-link {% if 'accounts/logout' in request.path %}active{% endif %}">
        <span class="pg-icon"><i class="fa fa-sign-out"></i></span><span>{% translate "Sign out" %}</span>
      </a>
    </li>
  </ul>
  <div class="mt-3 mb-1">
    {% translate "Teams" %}
  </div>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a href="{% url 'teams:manage_teams' %}" class="nav-link {% if 'teams' in request.path %}active{% endif %}">
        <span class="pg-icon"><i class="fa fa-group"></i></span><span>{% translate "Teams" %}</span>
      </a>
    </li>
  </ul>
</aside>
