{% extends 'web/app/dashboard_load.html' %}
{% load static %}

{% block body %}

<div class="content" style="padding:0 0 0 0">
    <div class="pb-5">
      <div class="row g-4">
        <div class="col-12 col-xxl-6">
          <div class="mb-8">
            <h2 class="mb-2">Analyse Dashboard</h2>
            <h5 class="text-700 fw-semi-bold">Dit is wat er nu in jouw organisatie gebeurt</h5>
          </div>
          <hr class="bg-200 mb-6 mt-4" />
          <div class="row flex-between-center mb-4 g-3">
            <div class="col-auto">
              <h3>Totaal afspraken</h3>
              <p class="text-700 lh-sm mb-0">Patient conversaties over alle kanalen</p>
            </div>
            <div class="col-8 col-sm-4">
              <select class="form-select form-select-sm mt-2" id="select-gross-revenue-month">
                <option>Mar 1 - 31, 2022</option>
                <option>April 1 - 30, 2022</option>
                <option>May 1 - 31, 2022</option>
              </select>
            </div>
          </div>
          <div class="echart-total-sales-chart" style="min-height:320px;width:100%" data-echart-responsive="data-echart-responsive"></div>
        </div>
        <div class="col-12 col-xxl-6">
          <div class="row g-3">
            <div class="col-12 col-md-6">
              <div class="card h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-1">Patient tevredenheid<span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs--1 ms-2"><span class="badge-label">-6.8%</span></span></h5>
                      <h6 class="text-700">Laatste 7 dagen</h6>
                    </div>
                    <h4>16,247</h4>
                  </div>
                  <div class="d-flex justify-content-center px-4 py-6">
                    <div class="echart-total-orders" style="height:85px;width:115px"></div>
                  </div>
                  <div class="mt-2">
                    <div class="d-flex align-items-center mb-2">
                      <div class="bullet-item bg-primary me-2"></div>
                      <h6 class="text-900 fw-semi-bold flex-1 mb-0">Tevreden</h6>
                      <h6 class="text-900 fw-semi-bold mb-0">52%</h6>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="bullet-item bg-primary-100 me-2"></div>
                      <h6 class="text-900 fw-semi-bold flex-1 mb-0">Ontevreden</h6>
                      <h6 class="text-900 fw-semi-bold mb-0">48%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-1">Gemiddelde wachtduur<span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs--1 ms-2"> <span class="badge-label">+26.5%</span></span></h5>
                      <h6 class="text-700">Laatste 7 dagen</h6>
                    </div>
                    <h4>356</h4>
                  </div>
                  <div class="pb-0 pt-4">
                    <div class="echarts-new-customers" style="height:180px;width:100%;" data-echart-responsive="true"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-2">Patient uitslagen</h5>
                      <h6 class="text-700">Laatste 7 dagen</h6>
                    </div>
                  </div>
                  <div class="pb-4 pt-3">
                    <div class="echart-top-coupons" style="height:115px;width:100%;"></div>
                  </div>
                  <div>
                    <div class="d-flex align-items-center mb-2">
                      <div class="bullet-item bg-primary me-2"></div>
                      <h6 class="text-900 fw-semi-bold flex-1 mb-0">Afgerond</h6>
                      <h6 class="text-900 fw-semi-bold mb-0">72%</h6>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                      <div class="bullet-item bg-primary-200 me-2"></div>
                      <h6 class="text-900 fw-semi-bold flex-1 mb-0">Actief herstel</h6>
                      <h6 class="text-900 fw-semi-bold mb-0">18%</h6>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="bullet-item bg-info me-2"></div>
                      <h6 class="text-900 fw-semi-bold flex-1 mb-0">Orientatie en ontdekking</h6>
                      <h6 class="text-900 fw-semi-bold mb-0">10%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-2">Efficiëntie gesprekken</h5>
                      <h6 class="text-700">Laatste 7 dagen</h6>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center pt-3">
                    <div style="height:145px;width:140px">
                      <canvas id="payingCustomerChart"></canvas>
                    </div>
                  </div>
                  <div class="mt-3">
                    <div class="d-flex align-items-center mb-2">
                      <div class="bullet-item bg-primary me-2"></div>
                      <h6 class="text-900 fw-semi-bold flex-1 mb-0">Verbetering mogelijk</h6>
                      <h6 class="text-900 fw-semi-bold mb-0">30%</h6>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="bullet-item bg-primary-100 me-2"></div>
                      <h6 class="text-900 fw-semi-bold flex-1 mb-0">Uitstekend</h6>
                      <h6 class="text-900 fw-semi-bold mb-0">70%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-6 pb-9 border-top border-300">
      <div class="row g-6">
        <div class="col-12 col-xl-6">
          <div class="me-xl-4">
            <div>
              <h3>Projecties vs werkelijke</h3>
              <p class="mb-1 text-700">Werkelijke afspraken vs projecties afspraken</p>
            </div>
            <div class="echart-projection-actual" style="height:300px; width:100%" data-echart-responsive="data-echart-responsive"></div>
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <div>
            <h3>Terugkerend patient ratio</h3>
            <p class="mb-1 text-700">Percentage klanten dat na verloop van tijd terugkeert naar uw winkel</p>
          </div>
          <div class="echart-returning-customer" style="height:300px;" data-echart-responsive="data-echart-responsive"></div>
        </div>
      </div>
    </div>
    <div class="row gx-6">
        <div class="col-12 col-xl-6">
          <div class="mb-5 mt-7">
            <h3>Top regions by revenue</h3>
            <p class="text-700">Where you generated most of the revenue</p>
          </div>
          <div class="table-responsive scrollbar">
            <table class="table fs--2 mb-0">
              <thead>
                <tr>
                  <th class="border-top border-200 ps-0 align-middle" scope="col" style="width:32%">COUNTRY</th>
                  <th class="border-top border-200 align-middle" scope="col" style="width:17%">USERS</th>
                  <th class="border-top border-200 text-end align-middle" scope="col" style="width:16%">TRANSACTIONS</th>
                  <th class="border-top border-200 text-end align-middle" scope="col" style="width:20%">REVENUE</th>
                  <th class="border-top border-200 text-end pe-0 align-middle" scope="col" style="width:17%">CONV. RATE</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td></td>
                  <td class="align-middle py-4">
                    <h4 class="mb-0 fw-normal">377,620</h4>
                  </td>
                  <td class="align-middle text-end py-4">
                    <h4 class="mb-0 fw-normal">236</h4>
                  </td>
                  <td class="align-middle text-end py-4">
                    <h4 class="mb-0 fw-normal">$15,758</h4>
                  </td>
                  <td class="align-middle text-end py-4 pe-0">
                    <h4 class="mb-0 fw-normal">10.32%</h4>
                  </td>
                </tr>
                <tr>
                  <td class="white-space-nowrap ps-0" style="width:32%">
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0 me-3">1. </h6><a href="#!">
                        <div class="d-flex align-items-center"><img src="assets/img/country/india.png" alt="" width="24" />
                          <p class="mb-0 ps-3 text-primary fw-bold fs--1">India</p>
                        </div>
                      </a>
                    </div>
                  </td>
                  <td class="align-middle" style="width:17%">
                    <h6 class="mb-0">92896<span class="text-700 fw-semi-bold ms-2">(41.6%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">67<span class="text-700 fw-semi-bold ms-2">(34.3%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">$7560<span class="text-700 fw-semi-bold ms-2">(36.9%)</span></h6>
                  </td>
                  <td class="align-middle text-end pe-0" style="width:17%">
                    <h6>14.01%</h6>
                  </td>
                </tr>
                <tr>
                  <td class="white-space-nowrap ps-0" style="width:32%">
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0 me-3">2. </h6><a href="#!">
                        <div class="d-flex align-items-center"><img src="assets/img/country/china.png" alt="" width="24" />
                          <p class="mb-0 ps-3 text-primary fw-bold fs--1">China</p>
                        </div>
                      </a>
                    </div>
                  </td>
                  <td class="align-middle" style="width:17%">
                    <h6 class="mb-0">50496<span class="text-700 fw-semi-bold ms-2">(32.8%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">54<span class="text-700 fw-semi-bold ms-2">(23.8%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">$6532<span class="text-700 fw-semi-bold ms-2">(26.5%)</span></h6>
                  </td>
                  <td class="align-middle text-end pe-0" style="width:17%">
                    <h6>23.56%</h6>
                  </td>
                </tr>
                <tr>
                  <td class="white-space-nowrap ps-0" style="width:32%">
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0 me-3">3. </h6><a href="#!">
                        <div class="d-flex align-items-center"><img src="assets/img/country/usa.png" alt="" width="24" />
                          <p class="mb-0 ps-3 text-primary fw-bold fs--1">USA</p>
                        </div>
                      </a>
                    </div>
                  </td>
                  <td class="align-middle" style="width:17%">
                    <h6 class="mb-0">45679<span class="text-700 fw-semi-bold ms-2">(24.3%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">35<span class="text-700 fw-semi-bold ms-2">(19.7%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">$5432<span class="text-700 fw-semi-bold ms-2">(16.9%)</span></h6>
                  </td>
                  <td class="align-middle text-end pe-0" style="width:17%">
                    <h6>10.23%</h6>
                  </td>
                </tr>
                <tr>
                  <td class="white-space-nowrap ps-0" style="width:32%">
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0 me-3">4. </h6><a href="#!">
                        <div class="d-flex align-items-center"><img src="assets/img/country/south-korea.png" alt="" width="24" />
                          <p class="mb-0 ps-3 text-primary fw-bold fs--1">South Korea</p>
                        </div>
                      </a>
                    </div>
                  </td>
                  <td class="align-middle" style="width:17%">
                    <h6 class="mb-0">36453<span class="text-700 fw-semi-bold ms-2">(19.7%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">22<span class="text-700 fw-semi-bold ms-2">(9.54%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">$4673<span class="text-700 fw-semi-bold ms-2">(11.6%)</span></h6>
                  </td>
                  <td class="align-middle text-end pe-0" style="width:17%">
                    <h6>8.85%</h6>
                  </td>
                </tr>
                <tr>
                  <td class="white-space-nowrap ps-0" style="width:32%">
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0 me-3">5. </h6><a href="#!">
                        <div class="d-flex align-items-center"><img src="assets/img/country/vietnam.png" alt="" width="24" />
                          <p class="mb-0 ps-3 text-primary fw-bold fs--1">Vietnam</p>
                        </div>
                      </a>
                    </div>
                  </td>
                  <td class="align-middle" style="width:17%">
                    <h6 class="mb-0">15007<span class="text-700 fw-semi-bold ms-2">(11.9%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">17<span class="text-700 fw-semi-bold ms-2">(6.91%)</span></h6>
                  </td>
                  <td class="align-middle text-end" style="width:17%">
                    <h6 class="mb-0">$2456<span class="text-700 fw-semi-bold ms-2">(10.2%)</span></h6>
                  </td>
                  <td class="align-middle text-end pe-0" style="width:17%">
                    <h6>6.01%</h6>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex align-items-center justify-content-between py-2 fs--1 mb-1">
            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="">1 to 5 <span class="text-600"> Items of </span> 15</p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-2" data-fa-transform="down-1"></span></a>
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <div class="mx-n4 mx-lg-n6 ms-xl-0 h-100">
            <div class="h-100 w-100 py-5">
              <div class="googlemap revenue-map h-100" style="min-height: 300px;"></div>
            </div>
          </div>
        </div>
      </div>
  
  </div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'landing/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'landing/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'landing/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'landing/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'landing/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'landing/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'landing/vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'landing/vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'landing/vendors/dayjs/dayjs.min.js' %}"></script>
    <script src="{% static 'landing/assets/js/phoenix.js' %}"></script>
    <script src="{% static 'landing/vendors/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'landing/vendors/chart/chart.min.js' %}"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    

    <script src="{% static 'landing/js/ecommerce-dashboard.js' %}"></script>

{% endblock %}         