{% extends 'web/app/dashboard_load.html' %}
{% load static %}

{% block body %}

<div class="content" style="padding:0 0 0 0">
    <h2 class="mb-2 lh-sm">Changelog</h2>
    <div class="card shadow-none border border-300 my-3">
      <div class="card-header border-bottom border-300 bg-soft">
        <h5 class="mb-2"><code class="fw-bold fs-1">v0.5</code> - convolys</h5>
        <p class="mb-0">16 April, 2023</p>
      </div>
      <div class="card-body">
        <h6 class="mb-2">New</h6>
        <ul class="bullet-inside ps-0">
          <li>Feature :<code> Dashboard Overhaul</code></li>
          <li>Feature :<code> Transcription view overhaul</code></li>
          <li>Feature :<code> English language</code></li>
          <li>PAGE :<code> New meeting</code></li>
          <li>PAGE :<code> Getting started</code></li>
          <li>PAGE :<code> Changelog</code></li>
          <li>PAGE :<code> Showcase</code></li>
          <!--<li>PLUGIN: <code>Chatbot prototype</code></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}         