{% extends "web/landing_base.html" %}
{% load static %}

{% block body %}
    <main>
        <!-- Add your main content here -->
        <section id="hero">
            <div class="main-container">
                <div class="hero">
                    <h5 class="hero_starter">convolys - audio analyse</h5>
                    <h1 class="hero_title">Haal meer uit gesprekken, verhoog de effectiviteit van je organisatie</h1>
                    <h4 class="hero_text">Geautomatiseerde transcriptie en gedetailleerde analyse voor een duurzame en toekomstbestendige organisatie.</h4>
                    <div class="hero-btn">
                        <a style="margin-top:20px;" class="landing-button-large">Vraag een proefperiode aan</a>
                    </div>
                    <img src="{% static 'landing/img/gallery/callcenter-dashboard.png' %}" width:100%>
                </div>
            </div>
        </section>

        <section id="chatbot">
            <div class="section-container">
                <div class="row" style="width:100%;">
                    <div class="col-7">
                        <img src="{% static 'landing/img/gallery/municipal_meeting2.png' %}" style="width:65%; margin-left: 20%;">
                    
                    </div>
                    <div class="col-5" style="height:100%;">
                        <div class="vertically-centered-text" style="margin-top:15%;">
                            <h5 class="section_starter">Datagestuurde beslissingen</h5>
                            <h1 class="section_title">Wij zetten audio om naar informatierijke tekst</h1>
                            <h4 class="section_text">Stel uw organisatie in staat om waardevolle en dynamische inzichten te verkrijgen in audio data. 
                                Ons door AI aangedreven platform zet gesprekken om in betekenisvolle informatie en bruikbare gegevens.</h4>                    
                            <!--<a style="margin-top:20px;" class="landing-button-large">Start trial </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="new-meetings" >
            <div class="section-container">
                <div class="row" style="width:100%;">

                    <div class="col-5" style="height:100%;">
                        <div class="vertically-centered-text">
                            <h5 class="section_starter">Gemaakt voor diepgang</h5>
                            <h1 class="section_title">Een diepe duik in gespreksdynamiek.</h1>
                            <h4 class="section_text">Door het analyseren van sprekersgedrag, sentiment, emotie en spraakpatronen ontcijferen we de essentie van communicatie en bieden we genuanceerde interpretaties. 
                                Of het nu gaat om dialogen met vrachtwagenchauffeurs, gemeentevergaderingen of medische consulten, we brengen de verhalen die erin besloten liggen naar boven.</h4>                    
                            <a style="margin-top:20px;" class="landing-button-large">Start trial </a>
                        </div>
                    </div>
                    <div class="col-7">
                        <img src="{% static 'landing/img/gallery/markt_segmenten.png' %}" style="width:90%; margin-left:10%;">
                    </div>
                </div>
            </div>
        </section>

        <!--<section id="chatbot">
            <div class="section-container">
                <div class="row" style="width:100%;">
                    <div class="col-12" style="text-align:center; margin-bottom:50px;">
                        <h1 class="section_title" >Hoe het werkt in een notendop.</h1>
                        <img src="{% static 'landing/img/gallery/process-flow.png' %}" style="width:100%;">
                      </div>
                </div>
            </div>
        </section>-->

        <section id="chatbot">
            <div class="section-container">
                <div class="row" style="width:100%;">
                    <div class="col-7">
                        <img src="{% static 'landing/img/gallery/analyse-voorbeeld2.png' %}" style="width:65%; margin-left: 20%;">
                    
                    </div>
                    <div class="col-5" style="height:100%;">
                        <div class="vertically-centered-text" style="margin-top:2%;">
                            <h5 class="section_starter">Een voorbeeld toepassing</h5>
                            <h1 class="section_title">Gedetailleerde Ontleding van Gesproken Taal.</h1>
                            <h4 class="section_text">Door het analyseren van individuele uitspraken, beloftes, en de context daarvan, 
                                ontsluiten we de diepere betekenis in opgenomen audio. Wij kunnen de nuances van elke uitspraak 
                                ontcijferen en de intentie van de spreker vastleggen. 
                                Onze AI-gestuurde technologie brengt de subtiele details naar voren die anders verborgen zouden blijven.</h4>                    
                            <!--<a style="margin-top:20px;" class="landing-button-large">Start trial </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="trusted-by" style="background-color: #081d34;">
            <div class="section-container" style="padding-bottom:60px;">
                <div class="row" style="width:100%; text-align: center;">
                    <h5 class="trusted-title">convolys is speciaal gemaakt voor industrieën met hoog risico.</h5>
                    <button class="rounded-button">Voor vragen kunt u contact met ons opnemen --></button>

                </div>
            </div>
        </section>


        <section id="why-convolys" style="margin-top:100px; margin-bottom:100px;">
            <div class="section-container">
                <div class="row" style="width:100%;">
                    <div style="text-align: center; margin-bottom:20px;" >
                        <h1 class="section_title">Waarom bedrijven convolys nodig hebben</h1>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <img class="check-mark" src="{% static 'landing/img/icons/check-mark.svg' %}" alt="check" width="35" height="35"/>
                            <h1 class="features_title">Zeer nauwkeurige transcriptie</h1>
                            <h4 class="features_text">Onze audio transcriptie service maakt gebruik van de meest geavanceerde Large Language modellen en hanteert daarbij betaalbare tarieven.</h4>
                        </div>         
                        <div class="row" style="margin-top:40px;">
                            <img class="check-mark" src="{% static 'landing/img/icons/check-mark.svg' %}" alt="check" width="35" height="35"/>
                            <h1 class="features_title">Samenvatten en rapporteren</h1>
                            <h4 class="features_text">Onze dienst genereert ongelooflijk gedetailleerde kwantitatieve en kwalitatieve inzichten in gesprekken. </h4>
                        </div>         
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <img class="check-mark" src="{% static 'landing/img/icons/check-mark.svg' %}" alt="check" width="35" height="35"/>
                            <h1 class="features_title">AI-gestuurde audio-intelligentie</h1>
                            <h4 class="features_text">Wij gebruiken GPT3- en GPT4-modellen om onze audio-intelligentie aan te drijven, zodat onze klanten hun transcripties gemakkelijker kunnen doorzoeken en analyseren.</h4>
                        </div>          
                        <div class="row" style="margin-top:40px;">
                            <img class="check-mark" src="{% static 'landing/img/icons/check-mark.svg' %}" alt="check" width="35" height="35"/>
                            <h1 class="features_title">Chatbot-functionaliteit</h1>
                            <h4 class="features_text">Wij bieden de mogelijkheid om te chatten met enkelvoudige of meerdere eerdere gesprekken om uw geheugen op te frissen en nieuwe inzichten te verkrijgen.</h4>
                        </div>            
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <img class="check-mark" src="{% static 'landing/img/icons/check-mark.svg' %}" alt="check" width="35" height="35"/>
                            <h1 class="features_title">hoge schaalbaarheid</h1>
                            <h4 class="features_text">Onze systemen zijn gebouwd op geavanceerde AWS-pijplijntechnologieën en bieden een hoge beschikbaarheid en uitstekende rekenkracht.</h4>
                        </div>          
                        <div class="row" style="margin-top:40px;">
                            <img class="check-mark" src="{% static 'landing/img/icons/check-mark.svg' %}" alt="check" width="35" height="35"/>
                            <h1 class="features_title">Gegevensbeveiliging en privacy</h1>
                            <h4 class="features_text">Klantvertrouwen en gegevensbeveiliging zijn voor ons van het grootste belang, en we nemen alle nodige maatregelen om ervoor te zorgen dat onze dienst voldoet aan de GDPR- en HIPAA-voorschriften.</h4>
                        </div>           
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <div class="light-blue-container" style="background-color:#c4e0fd;">
            <div class="footer_container" style="padding: 4% 4% 100px 4%;">
                <div class="row">
                    <div class="col-5" style="height:100%;">
                        <div class="vertically-centered-text">
                            <h4 class="footer_text">"Bij convolys geloven we dat technologie ontworpen moet zijn om het leven van mensen makkelijker te maken. Onze dienst gaat niet alleen over het omzetten van audio naar tekst, het gaat over het helpen om tijd en moeite te besparen zodat u zich kunt richten op wat echt belangrijk is." - Youri</h4>   
                            <h5 class="section_starter" style="margin-top:20px;">Gemaakt voor bedrijven</h5>            
                        </div>
                    </div>
                    <div class="col-7">
                        <img src="{% static 'landing/img/gallery/youri-photo.png' %}" style="width:70%; float:right;">
                    </div>
                </div>
            </div>
        </div>
            <svg class="curved-footer" width="1440" height="200" viewBox="0 0 1440 84" fill="none" preserveAspectRatio="none"><path d="M0 83C454.33-24.774 928.696-27.898 1384.99 71.96L1440 83v2H0Z"></path></svg>
            <div class="footer_container" style="margin-bottom:100px;">
            <div class="row" style="width:100%;">
                <div class="footer_box">
                    <h1 class="footer_title">Kom in contact voor meer informatie</h1>
                    <button class="rounded-button">Voor vragen kunt u contact met ons opnemen --></button>
                    <br/><br/>
                    <p style="color:white">convolys is een onderneming van Denderoo |  KvK: 76668991 | BTW: NL0034155B75 </p>     
                </div>
            </div>
        </div>
        </div>
          
    </footer>

{% endblock %}
							